<fieldset>
    <legend>Dados do Fornecedor</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="razaoSocial">Razão Social *</label>
                <input type="text" class="form-control" id="razaoSocial" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nomeFantasia">Nome Fantasia *</label>
                <input type="text" class="form-control" id="nomeFantasia" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="cnpj">CNPJ *</label>
                <input type="text" class="form-control" id="cnpj" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="inscricaoEstadual">Inscrição Estadual</label>
                <input type="text" class="form-control" id="inscricaoEstadual">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="inscricaoMunicipal">Inscrição Municipal</label>
                <input type="text" class="form-control" id="inscricaoMunicipal">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="cep">CEP *</label>
                <input type="text" class="form-control" id="cep" required>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="endereco">Endereço *</label>
                <input type="text" class="form-control" id="endereco" required readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="contatoNome">Nome da pessoa de contato *</label>
                <input type="text" class="form-control" id="contatoNome" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="telefone">Telefone *</label>
                <input type="tel" class="form-control" id="telefone" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="email">E-mail *</label>
                <input type="email" class="form-control" id="email" required>
            </div>
        </div>
    </div>
</fieldset>