<fieldset>
    <legend>Anexos</legend>
    <div class="table-responsive">
        <table id="anexosTable" class="table">
            <thead>
                <tr>
                    <th>Nome do Arquivo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="form-group">
        <input type="file" class="form-control-file" id="anexoInput">
    </div>
    <button type="button" class="btn btn-success btn-100" id="adicionarAnexo">Adicionar Anexo</button>
</fieldset>